{% extends "allergies/base.html" %}
{% block content %}
<div class="mt-5 text-center">
  <h1 class="display-1">アレルギー物質検出アプリ</h1>
  <p class="lead">自分の名前と食品の画像をアップロードし、OKを押してください</p>
  <form action="{% url 'allergies:upload' %}" method="POST" enctype="multipart/form-data">
    <input type="file" name="files[]" multiple>
    <input type="text" name="name" multiple>
          
        <body>
            <div class="camera">
                <video id="video">Video stream not available.</video>
            </div><br>
            <button id="startbutton">Take photo</button><br>
            <canvas id="canvas">
            <textarea id="readStr"></textarea>
            </canvas>
            <script>
                let width = 320    // We will scale the photo width to this
                let height = 0     // This will be computed based on the input stream
                
                let streaming = false
                
                let video = null
                let canvas = null
                let photo = null
                let startbutton = null
                let constrains = { video: true, audio: false }
                
                /**
                 * ユーザーのデバイスによるカメラ表示を開始し、
                 * 各ボタンの挙動を設定する
                 *
                 */
                function startup() {
                  video = document.getElementById('video')
                  canvas = document.getElementById('canvas')
                  photo = document.getElementById('photo')
                  startbutton = document.getElementById('startbutton')
                
                  videoStart()
                
                  video.addEventListener('canplay', function(ev){
                    if (!streaming) {
                      height = video.videoHeight / (video.videoWidth/width)
                
                      video.setAttribute('width', width)
                      video.setAttribute('height', height)
                      canvas.setAttribute('width', width)
                      canvas.setAttribute('height', height)
                      streaming = true
                    }
                  }, false)
                
                  // 「take photo」ボタンをとる挙動を定義
                  startbutton.addEventListener('click', function(ev){
                    takepicture()
                    ev.preventDefault()
                  }, false);
                
                  clearphoto()
                }
                
                /**
                 * カメラ操作を開始する
                 */
                function videoStart() {
                  streaming = false
                  navigator.mediaDevices.getUserMedia(constrains)
                  .then(function(stream) {
                      video.srcObject = stream
                      video.play()
                  })
                  .catch(function(err) {
                      console.log("An error occured! " + err)
                  })
                }
                // 続く
                function clearphoto() {
                  let context = canvas.getContext('2d')
                  context.fillStyle = "#AAA"
                  context.fillRect(0, 0, canvas.width, canvas.height)
                }

                /**
                * カメラに表示されている現在の状況を撮影する
                */
                function takepicture() {
                    let context = canvas.getContext('2d')
                    if (width && height) {
                      canvas.width = width
                      canvas.height = height
                      context.drawImage(video, 0, 0, width, height)
                      send()
                    } else {
                      clearphoto()
                    }
                  } 
                  function send() {
                    data = canvas.toDataURL('image/png').replace(/^.*,/, '')
                    $.ajax('/read.php',{
                        method: 'POST',
                        data: {image: data}
                    }).then(res => {
                        $('#readStr').val(res)
                    })
                }

                startup()

                </script>
                </body>  
    <input type="submit" class="btn btn-lg btn-secondary" value="送信">
    {% csrf_token %}
  </form>
  <a class="btn btn-lg btn-secondary"  href="{% url 'allergies:create' %}">アレルギーの登録</a>
  <table id = kakeibo_list width="100%" class="table table-striped table-bordered table-hover">
    　<!-- 表の列の定義-->
      <thead>
        <tr>
          <th class="text-center">名前</th>
          <th class="text-center">卵</th>
          <th class="text-center">乳</th>
          <th class="text-center">小麦</th>
          <th class="text-center">そば</th>
          <th class = "text-center">ピーナッツ</th>
          <th class="text-center">えび</th>
          <th class="text-center">かに</th>
          <th class="text-center">あわび</th>
          <th class="text-center">大豆</th>
          <th class="text-center">ごま</th>
          <th class = "text-center">肉</th>
          <th class = "text-center">くるみ</th>
          
        </tr>
      </thead>
    　<!-- ここまでが表の列の定義-->
    　<!-- 表のデータ部分の表示-->
      <tbody>
        {% for item in object_list %}
          <tr class="odd gradeX text-center">
            <td class="text-center" width="100">{{ item.0}}</td>
            <td class="text-center" width="100">{{ item.1 }}</td>
            <td class="text-center" width="140">{{ item.2 }}</td>
            <td class="text-center" width="140">{{ item.3 }}</td>
            <td class="text-center" width="140">{{ item.4 }}</td>
            <td class="text-center" width="100">{{ item.5 }}</td>
            <td class="text-center" width="140">{{ item.6 }}</td>
            <td class="text-center" width="140">{{ item.7 }}</td>
            <td class="text-center" width="140">{{ item.8 }}</td>
            <td class="text-center" width="100">{{ item.9 }}</td>
            <td class="text-center" width="140">{{ item.10 }}</td>
            <td class="text-center" width="140">{{ item.11 }}</td>
            <td class="text-center" width="140">{{ item.12 }}</td>
            
      {% endfor %}
      </tbody>
    　<!-- ここまでが表のデータ部分の表示-->
    </table>
</div>
{% endblock %}