<!doctype html>
<html>
<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 {# Bootstrap4を使う #}
 <!-- linkタグでbootstrapのcssファイルを読み込む -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
 <!-- タイトルの設定-->
 <title>Tutorial</title>
<body>
 {% block content %}
  <!-- block content ～ endblockの間に子テンプレートの内容が差し込まれる -->
 {% endblock %}
 <!-- bootstrapのjavascrit読み込み-->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
 <!-- DataTablesのjavascrit読み込み-->
 <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
 <!-- chart.jsの読み込み -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

</body>


<!-- 折れ線グラフの設定-->
<script>
  var ctx = document.getElementById("LineChart").getContext('2d');
  var DiskChart = new Chart(ctx, {
  type: 'line',
    data: {
      labels:[
        {% for item in x_label %}
             '{{item}}',
        {% endfor %}],
      datasets: [ 
       {
        label: "{{残量}}",
        fill: true,
          {% for color in border_color %}
                borderColor : 'rgba(60, 190, 20, 0.8)',
          {% endfor %}
        
           {% for color in background_color %}
                backgroundColor : 'rgba(60, 190, 20, 0.3)',
           {% endfor %}
        data: [
        {% for time_label in x_label %}
           {% for date, money in matrix_list %}
              {% if date == time_label %}
                  {{money}},
              {% endif %}
           {% endfor %}
        {% endfor %}
        ],
       },
      ]
    },
       options: {
        responsive: true,
        scales: {
          xAxes: [{
            distribution: 'linear',
            scaleLabel: {
              display: true,
              labelString: '日付'
            },
            ticks: {                      // 目盛り
                maxRotation:0, //X軸の表示角度調整
                minRotation:0  //X軸の表示角度調整
              },
            }],
            yAxes: [{
              scaleLabel: {
                display: true,
                labelString: '残量（g）'
              },
            ticks:{
              min: 0,   // 最小値
              }
             }],
           },
          title: {
            display: true,         // 表示設定
            pocision: "top",       // 表示位置
            fontSize: 30,          // フォントサイズ
            fontColor: "black",    // 文字の色
            text: "日毎の残量推移" // タイトル文字列
          },
     }
 });
 </script>
 
</html>
