<!-- 親テンプレートを読み込む-->
{% extends 'stock/base.html' %}
{% block content %}
 <div class="content-wrapper">
   <div class="container-fluid">
     <!-- パンくずリストの設定-->
     <ol class="breadcrumb">
       <li class="breadcrumb-item">
         <a href="{% url 'stock:stock_list' %}">TOP</a>
       </li>
       <li class="breadcrumb-item active">一覧表示</li>
     </ol>
     <!--ページタイトル-->
     <div class="card mb-3">
       <div class="card-header">
         <h3><b>残量一覧</b></h3></div>
       <div class="card-body"> 
        <!-- ボタンの描画-->
        <div class="text-center" width="140">
            　　<a class="btn btn-outline-success" href="{% url 'stock:stock_line' %}">残量変動</a>
            　　<a class="btn btn-outline-danger" href="{% url 'stock:stock_learn' %}">機械学習</a>
         <!-- テーブル表の定義 -->
         <div class="table-responsive">
         <table width="100%" class="table table-striped table-bordered table-hover">
           　<!-- 表の列の定義-->
             <thead>
               <tr>
                 <th class="text-center">日付</th>
                 <th class="text-center">残量</th>
               </tr>
             </thead>
           　<!-- ここまでが表の列の定義-->
           　<!-- 表のデータ部分の表示-->
             <tbody>
               {% for item in object_list %}
                 <tr class="odd gradeX text-center">
                   <td class="text-center" width="100">{{ item.date}}</td>
                   <td class="text-center" width="140">{{ item.money }}</td>
                 </tr>
             {% endfor %}
             </tbody>
           　<!-- ここまでが表のデータ部分の表示-->
           </table>
           <!-- ここまでがテーブル表の定義 -->
       </div>
      </div>
      </div>
   </div>
  </div>
{% endblock content %}